# Application Configuration
APP_ENV=LOCAL
APP_NAME=auth-service

# Database Master Configuration
DB_MASTER_HOST=0.0.0.0
DB_MASTER_MAX_IDLE_CONN=12
DB_MASTER_MAX_IDLE_TIME_CONN_SECONDS=10
DB_MASTER_MAX_LIFE_TIME_CONN_SECONDS=60
DB_MASTER_MAX_OPEN_CONN=25
DB_MASTER_NAME=postgres
DB_MASTER_PASSWORD=postgres
DB_MASTER_PORT=5432
DB_MASTER_SCHEMA=public
DB_MASTER_SSL_MODE=disable
DB_MASTER_USERNAME=postgres

# Database Slave Configuration
DB_SLAVE_HOST=0.0.0.0
DB_SLAVE_MAX_IDLE_CONN=12
DB_SLAVE_MAX_IDLE_TIME_CONN_SECONDS=10
DB_SLAVE_MAX_LIFE_TIME_CONN_SECONDS=60
DB_SLAVE_MAX_OPEN_CONN=25
DB_SLAVE_NAME=postgres
DB_SLAVE_PASSWORD=postgres
DB_SLAVE_PORT=5432
DB_SLAVE_SCHEMA=public
DB_SLAVE_SSL_MODE=disable
DB_SLAVE_USERNAME=postgres

# HTTP Server Configuration
HTTP_PORT=8080
HTTP_REQUEST_ID=auth
HTTP_TIMEOUT=30

# Log Configuration
LOG_NAME=auth

# PATH
PATH_EMAIL_TEMPLATE=src/infra/template/email/
PATH_UPLOAD=src/infra/files/picture

# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# NATS
NATS_STATUS=1
NATS_HOST=nats://0.0.0.0:4222

# WORKER
AUTH_CONCURRENCY=1

# SMTP Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_password
SMTP_SENDER_NAME="Your App Name <your_email@gmail.com>"

# URL
URL_API=http://localhost:8080
URL_PICTURE=http://localhost:8080
