# Application Configuration
APP_ENV=LOCAL
APP_NAME=api-auth-service

# Database Master Configuration
DB_MASTER_HOST=database
DB_MASTER_MAX_IDLE_CONN=12
DB_MASTER_MAX_IDLE_TIME_CONN_SECONDS=10
DB_MASTER_MAX_LIFE_TIME_CONN_SECONDS=60
DB_MASTER_MAX_OPEN_CONN=25
DB_MASTER_NAME=postgres
DB_MASTER_PASSWORD=postgres
DB_MASTER_PORT=5432
DB_MASTER_SCHEMA=public
DB_MASTER_SSL_MODE=disable
DB_MASTER_USERNAME=postgres

# Database Slave Configuration
DB_SLAVE_HOST=database
DB_SLAVE_MAX_IDLE_CONN=12
DB_SLAVE_MAX_IDLE_TIME_CONN_SECONDS=10
DB_SLAVE_MAX_LIFE_TIME_CONN_SECONDS=60
DB_SLAVE_MAX_OPEN_CONN=25
DB_SLAVE_NAME=postgres
DB_SLAVE_PASSWORD=postgres
DB_SLAVE_PORT=5432
DB_SLAVE_SCHEMA=public
DB_SLAVE_SSL_MODE=disable
DB_SLAVE_USERNAME=postgres

# HTTP Server Configuration
HTTP_PORT=8080
HTTP_REQUEST_ID=auth
HTTP_TIMEOUT=30

# Log Configuration
LOG_NAME=auth

# PATH
PATH_EMAIL_TEMPLATE=src/infra/template/email/
PATH_UPLOAD=src/infra/files/picture

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# NATS
NATS_STATUS=1
NATS_HOST=nats://nats:4222

# URL
URL_API=http://localhost
URL_PICTURE=http://localhost
